body {
	padding-top: 60px;
}
h1 {
	font-size: 220%;
}
h2 {
	font-size: 200%;
}
h3 {
	font-size: 170%;
	border-bottom: 5px solid #eeeeee;
}
h4 {
	font-size: 130%;
}
h5 {
	font-size: 120%;
}
h6 {
	font-size: 110%;
}

table{
	border:1px solid black;
}

td.a {
	border:1px solid black;
	text-align:center;
	width: 500px;
	height: 30px;
}
td.b {
	border:1px solid black;
	text-align:center;
	width: 150px;
	height: 30px;
}
