@import url(stilus.css);

body{
    font-size: 2em;
}
button#nagy{
    display: none;
}
button#normal{
    display: block;
    font-size: 40px;
}
img {
    width: 80%;
}
video{
    width:90%;
}
input#ok{
    font-size: 2em;
    width: 200px;
    height: 200px;
}
input#torl{
    font-size:100%;
    width: 80%;
}